<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Revisi&oacute;n Ocular</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/RevisionApp.css' %}">
</head>

<body>

<h1>Revisi&oacute;n Ocular</h1>

<div style="height:260px; overflow-y:auto;">
    
    <table class="tabla" style="border-color: black;">
        <tbody>
        <tr>
            <th><strong>SELECCI&Oacute;N</strong></th>
            <th><strong>NIF</strong></th>
            <th><strong>NOMBRE</strong></th>
            <th><strong>APELLIDOS</strong></th>
            <th><strong>EDAD</strong></th>
        </tr>

        {% for c in clientes %}
        
            <tr>
                
                <td><a title="home" href="http://127.0.0.1:8000/{{ c.NIF }}/"><input type="submit"  class="bInvisible" name="bInvisible" style="border:1px solid black; background-color: transparent;" value="                "></a></td>
                <td class="lnif">{{ c.NIF }}</td>
                <td>{{ c.NOMBRE }}</td>
                <td>{{ c.APELLIDO }}</td>
                <td>{{ c.EDAD }}</td>
                
            </tr>
        
        {% endfor %}

        </tbody>
    </table>
    
</div>

<br> <br>
<label class="tnif">NIF:&nbsp;
    <input type="text" id="nif" name="nif" size="10" value="{{ cliente.NIF }}">
</label>


<br> <br>
<label for="nombre">Nombre:&nbsp;
    <input type="text" id="nombre" name="nombre" size="10" value="{{ cliente.NOMBRE }}">
</label>

<br> <br>
<label for="apellidos">Apellidos:&nbsp;
    <input type="text" id="apellidos" name="apellidos" size="10" value="{{ cliente.APELLIDO }}">
</label>

<br> <br>
<label for="edad">Edad:&nbsp;
    <select name="edad">
        {% for n in range %}
            <option value="1" {% if n == cliente.EDAD %} selected {% endif %} >{{ n }}</option>
        {% endfor %}
    </select>
    &emsp;
    <a class="revisionL" href="revision" target="_blank" rel="noopener"> <button class="bRevision">Revisiones
    </button></a>
</label>

<br> <br>

<div title="form">
    <button class="bAdd">A&ntilde;adir</button>
    <label>&ensp;&ensp;</label>
    <button class="bUpd">Actualizar</button>
    <label>&ensp;&ensp;</label>
    <button class="bDel">Borrar</button>
    <label>&ensp;&ensp;</label>
    <a title="home" href=".."><button class="bCln">Limpiar</button></a>
    <label>&ensp;&ensp;</label>
    <a title="home" href=".."><button class="bExit">Salir</button></a>
</div>
</body>

</html>