{% extends "RevisionOcularApp/base.html" %}

{% block content %}

        <h2>Revisi&oacute;n Ocular</h2>
        <table class="editorDemoTable">
        <tbody>
            <tr>
                <td><strong>NIF</strong></td>
                <td><strong>NOMBRE</strong></td>
                <td><strong>APELLIDOS</strong></td>
                <td><strong>EDAD</strong></td>
            </tr>
            <tr>
                <td>11111111A</td>
                <td>Nombre1</td>
                <td>Apellido1</td>
                <td>21</td>
            </tr>
            <tr>
                <td>22222222A</td>
                <td>Nombre2</td>
                <td>Apellido2</td>
                <td>22</td>
            </tr>
        </tbody>
        </table>
        <p>NIF:&nbsp;</p>
        <p>Nombre:&nbsp;</p>
        <p>Apellidos:&nbsp;</p>
        <p>Edad:&nbsp;</p>
        <p><a title="revision" href="revision" target="_blank" rel="noopener">Revisiones</a></p>

{% endblock %}
