<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <title>Revisi&oacute;n Ocular</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/RevisionApp.css' %}"> 
          
    </head>

    <body>
        
        <h2>Revisi&oacute;n Ocular</h2>
        <table class="editorDemoTable">
        <tbody>
            <tr>
                <td><strong> &nbsp;NIF&nbsp;&nbsp; </strong></td>
                <td><strong> NOMBRE&nbsp;  </strong></td>
                <td><strong> APELLIDOS&nbsp; </strong></td>
                <td><strong> EDAD&nbsp;  </strong></td>
            </tr>

            {% for c in clientes %}
            <tr>
               
                <td>&nbsp;<a title="home" href="." >{{ c.NIF }}</a></td>
                <td><a title="home" href="." >{{ c.NOMBRE }}</a></td>
                <td><a title="home" href="." >{{ c.APELLIDO }}</a></td>
                <td><a title="home" href="." >{{ c.EDAD }}</a></td>
                
            </tr>
            {% endfor %}
            
        </tbody>
        </table>
        <p></p>
        <label for="nif">NIF:&nbsp;</lNif>
        <input type="text" id="nif" name="nif" size="10">
        <p></p>
        <label for="nombre">Nombre:&nbsp;</lNombre>
        <input type="text" id="nombre" name="nombre" size="10">
        <p></p>
        <label for="apellidos">Apellidos:&nbsp;</lApellidos>
        <input type="text" id="apellidos" name="apellidos" size="10">
        <p></p>
        <label for="edad">Edad:&nbsp;</lEdad>
            <select name="edad">
                {% for n in range(1,99) %}
                <option value="1">{{ n }}</option> 
                {% endfor %}
             </select>

        <p><a title="revision" href="revision" target="_blank" rel="noopener">Revisiones</a></p>

        <p>A&ntilde;adir</p>
        <p>Actualizar</p>
        <p>Borrar</p>
        <p>Limpiar</p>
        <p><a title="home" href="." >Salir</a></p>

    </body>

</html>

