<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Revisi&oacute;n Ocular</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/RevisionApp.css' %}">

</head>

<body>

<h2>Revisi&oacute;n Ocular</h2>

<div style="height:241px; overflow-y:auto;">
    <table class="tabla" style="border-color: black;">
        <tbody>
        <tr>
            <th><strong>NIF</strong></th>
            <th><strong>NOMBRE</strong></th>
            <th><strong>APELLIDOS</strong></th>
            <th><strong>EDAD</strong></th>
            <th><strong>SELECCI&Oacute;N</strong></th>
        </tr>

        {% for c in clientes %}
            <tr>
                <td>{{ c.NIF }}</td>
                <td>{{ c.NOMBRE }}</td>
                <td>{{ c.APELLIDO }}</td>
                <td>{{ c.EDAD }}</td>
                <td><input type="radio" name="seleccion"></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<br> <br>
<label for="nif">NIF:&nbsp;
    <input type="text" id="nif" name="nif" size="10">
</label>


<br> <br>
<label for="nombre">Nombre:&nbsp;
    <input type="text" id="nombre" name="nombre" size="10">
</label>

<br> <br>
<label for="apellidos">Apellidos:&nbsp;
    <input type="text" id="apellidos" name="apellidos" size="10">
</label>

<br> <br>
<label for="edad">Edad:&nbsp;
    <select name="edad">
        {% for n in range %}
            <option value="1">{{ n }}</option>
        {% endfor %}
    </select>
    &emsp;<button class="bRevision"><a class="revisionL" href="revision" target="_blank" rel="noopener">Revisiones</a>
    </button>
</label>

<br> <br>

<div title="form">
    <button class="bAdd">A&ntilde;adir</button>
    <label>&ensp;&ensp;</label>
    <button class="bUpd">Actualizar</button>
    <label>&ensp;&ensp;</label>
    <button class="bDel">Borrar</button>
    <label>&ensp;&ensp;</label>
    <button class="bCln">Limpiar</button>
    <label>&ensp;&ensp;</label>
    <button class="bExit"><a title="home" href=".">Salir</a></button>
</div>
</body>

</html>