<html>
{% load static %}
    <head>
        <title>Revisi&oacute;n Ocular</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/RevisionForm.css' %}">
    </head>
    <body>

        <h2>{{ cliente.NIF }};{{ cliente.NOMBRE }};{{ cliente.APELLIDO }};{{ cliente.EDAD }}</h2>
        <div style="width:1000px; height:254px; overflow:auto;">
        <table class="tabla" style="border-color: black;">
        <tbody>
            <tr>
                <th><strong>SELECCI&Oacute;N</strong></th>
                <th><strong>ID</strong></th>
                <th><strong>NIF</strong></th>
                <th><strong>CONSULTA</strong></th>
                <th><strong>OD_ESFERA</strong></th>
                <th><strong>OD_CILINDRO</strong></th>
                <th><strong>OD_ADICION</strong></th>
                <th><strong>OD_AGUDEZA</strong></th>
                <th><strong>OI_ESFERA</strong></th>
                <th><strong>OI_CILINDRO</strong></th>
                <th><strong>OI_ADICION</strong></th>
                <th><strong>OI_AGUDEZA</strong></th>
            </tr>
            {% for r in revisiones %}
            <tr>
                <td><a title="home" href="http://127.0.0.1:8000/{{ cliente.NIF }}/revision/{{ r.id }}/"><input type="submit"  class="bInvisible" name="bInvisible" style="border:1px solid black; background-color: transparent;" value="                "></a></td>
                <td>{{ r.id }}</td>
                <td>{{ r.NIF }}</td>
                <td>{{ r.CONSULTA }}</td>
                <td>{{ r.OD_ESFERA }}</td>
                <td>{{ r.OD_CILINDRO }}</td>
                <td>{{ r.OD_ADICION }}</td>
                <td>{{ r.OD_AGUDEZA }}</td>
                <td>{{ r.OI_ESFERA }}</td>
                <td>{{ r.OI_CILINDRO }}</td>
                <td>{{ r.OI_ADICION }}</td>
                <td>{{ r.OI_AGUDEZA }}</td>
            </tr>
        {% endfor %}
           
        </tbody>
        </table>
        </div>

        <form method="POST"> {% csrf_token %}
        <p>OD_ESFERA:&nbsp;  <input type="oesfera" id="oesfera" name="oesfera" size="10" value="{{ revision.OD_ESFERA }}">  &emsp;&emsp;&emsp;&emsp;OI_ESFERA:&nbsp; <input type="iesfera" id="iesfera" name="iesfera" size="10" value="{{ revision.OI_ESFERA }}"></p>
        <p>OD_CILINDRO:&nbsp;  <input type="ocilindro" id="ocilindro" name="ocilindro" size="10" value="{{ revision.OD_CILINDRO }}">  &emsp;&emsp;&emsp;&emsp;OI_CILINDRO:&nbsp; <input type="icilindro" id="icilindro" name="icilindro" size="10" value="{{ revision.OI_CILINDRO }}"></p>
        <p>OD_ADICION:&nbsp;  <input type="oadicion" id="oadicion" name="oadicion" size="10" value="{{ revision.OD_ADICION }}">  &emsp;&emsp;&emsp;&emsp;OI_ADICION:&nbsp; <input type="iadicion" id="iadicion" name="iadicion" size="10" value="{{ revision.OI_ADICION }}"></p>
        <p>OD_AGUDEZA:&nbsp;  <input type="oagudeza" id="oagudeza" name="oagudeza" size="10" value="{{ revision.OD_AGUDEZA }}">  &emsp;&emsp;&emsp;&emsp;OI_AGUDEZA:&nbsp; <input type="iagudeza" id="iagudeza" name="iagudeza" size="10" value="{{ revision.OI_AGUDEZA }}"></p>
    
        <p>Consulta:&nbsp;  <input type="date" id="consulta" name="consulta" value="{{ revision.CONSULTA|date:'Y-m-d' }}"></p>
    
        <br><br>

        <div title="form">
            <input type="submit" name="bAdd" class="bAdd" value="Añadir">
            <label>&ensp;&ensp;</label>
            <input type="submit" name="bUpd" class="bUpd" value="Actualizar">
            <label>&ensp;&ensp;</label>
            <input type="submit" name="bDel" class="bDel" value="Borrar">
            <label>&ensp;&ensp;</label>
            <a title="home" href=".."><input type="button" class="bCln" value="Limpiar"></a>
            <label>&ensp;&ensp;</label>
            <a title="home" href="http://127.0.0.1:8000/"><input type="button" class="bExit" value="Salir"></a>
        </div>
        </form>

    </body>

</html>
