<html>

    <body>

        <h2>11111111A;Nombre1;Apellido1;21</h2>
        <table class="editorDemoTable" style="border-color: black;">
        <tbody>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>NIF</strong></td>
                <td><strong>CONSULTA</strong></td>
                <td><strong>OD_ESFERA</strong></td>
                <td><strong>OD_CILINDRO</strong></td>
                <td><strong>OD_ADICION</strong></td>
                <td><strong>OD_AGUDEZA</strong></td>
                <td><strong>OI_ESFERA</strong></td>
                <td><strong>OI_CILINDRO</strong></td>
                <td><strong>OI_ADICION</strong></td>
                <td><strong>OI_AGUDEZA</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>11111111A</td>
                <td>16/09/2018</td>
                <td>2</td>
                <td>-1.5</td>
                <td>85</td>
                <td>1</td>
                <td>2.25</td>
                <td>-1.75</td>
                <td>80</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>11111111A</td>
                <td>16/09/2019</td>
                <td>2.25</td>
                <td>-1.5</td>
                <td>85</td>
                <td>1</td>
                <td>2.5</td>
                <td>-1.75</td>
                <td>80</td>
                <td>1</td>
            </tr>
        </tbody>
        </table>
        <p>OD_ESFERA:&nbsp;</p>
        <p>OD_CILINDRO:&nbsp;</p>
        <p>OD_ADICION:&nbsp;</p>
        <p>OD_AGUDEZA:&nbsp;</p>
        <p>OI_ESFERA:&nbsp;</p>
        <p>OI_CILINDRO:&nbsp;</p>
        <p>OI_ADICION:&nbsp;</p>
        <p>OI_AGUDEZA:&nbsp;</p>
        <p>16/09/2019</p>

        <p>A&ntilde;adir</p>
        <p>Actualizar</p>
        <p>Borrar</p>
        <p>Limpiar</p>
        <p><a title="home" href="." >Salir</a></p>

    </body>

</html>
